[Unit]
After=network.target
Description=Template Bot

[Service]
WorkingDirectory=/home/ubuntu/telegram_bot
ExecStart=/bit/bash -c 'source .venv/bin/activate && python3 bot.py'
Restart=always

[Install]
WantedBy=multi-user.target